{% extends 'base.html' %}

{% block app %}
  <div id="app">
    <nav class="navbar navbar-expand-lg bg-gradient" style="background-color: lightblue;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Learning Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav-link" style="background:none; border:none; cursor:pointer; padding:0;">
                Logout
              </button>
            </form>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-fluid d-flex flex-row p-3">
    <div id="main-content" class="flex-grow-1 me-3 p-3" style="background-color: #ffffff; border: 1px solid #dee2e6;">
      {% block content %}
        <h1>Welcome to the Learning Management System</h1>
        <p>This is the main content area. You can put your course listings, announcements, or any other relevant information here.</p>
      {% endblock %}
    </div>
    <div id="sidebar">
      {% block sidebar %}
      <div class="p-3" style="background-color: #f8f9fa; border: 1px solid #dee2e6;">
        <h2>Sidebar</h2>
        <p>This is the sidebar content.</p>
        <p>Maybe put Announcements here?</p>
      </div>
      {% endblock %}
    </div>
  </div>

  {% block footer %}{% endblock %}
{% endblock %}
