{% extends 'layout.html' %}

{% block title %}
  <title>Courses - Learning Management System</title>
{% endblock %}

{% block content %}
  <div class="d-flex">
    <h1 class="flex-grow-1">My Courses</h1>
    <div class="dropdown">
      {% if user.is_instructor %}
        <a class="btn btn-primary" href="{% url 'courses:create_course' %}">Create Course</a>
      {% endif %}
      {% if user.is_student %}
        <a class="btn btn-primary" href="{% url 'courses:enroll_course' %}">Enroll in Course</a>
      {% endif %}
    </div>
  </div>
  <hr>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Course Name</th>
        <th scope="col">Instructor</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.instructor.get_full_name }}</td>
          <td>
            <a href="{% url 'courses:view_course' course.id %}" class="">View</a>
            {% if user.is_instructor and course.instructor == user %}
              <a href="{% url 'courses:edit_course' course.id %}" class="">Edit</a>
              <a href="{% url 'courses:delete_course' course.id %}" class="">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          {% if user.is_instructor %}
            <td colspan="3" class="text-center">You have not created any courses yet.</td>
          {% else %}
            <td colspan="3" class="text-center">You are not enrolled in any courses yet.</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
